
        <div class="fluid-container">
            <div class="row">
                <!--Padding col-->
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                
                <!-- Content col -->
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 content">
                    <br>
                    <h1>Blood Donation Website</h1>
                    <br>
                    <router-outlet></router-outlet>
                </div> 

                <!--Padding col-->
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
            </div>
        </div>
